{% extends "base.html" %}
{% block title %}information about users{% endblock %}

{% block content %}
    <h2> some information about users </h2>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">first_name</th>
      <th scope="col">last_name</th>
      <th scope="col">age</th>
      <th scope="col">sex</th>
      <th scope="col">hobbies</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row">{{user.first_name}}</th>
      <td>{{user.last_name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.sex}}</td>
      {% for hobby in user.hobbies.all %}
      <td>{{ hobby.name }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
    </table>
<nav aria-label="...">
  <ul class="pagination">
    {% if page_obj.has_previous %}

    <li class="page-item">
        <a class="page-link" href="?page=1">first</a>
    </li>
    {% endif %}

        {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
         <li class="page-item active" aria-current="page">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>

     {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
    <li class="page-item" aria-current="page">
    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endif %}
      {% endfor %}

     {% if page_obj.has_next %}
        <li class="page-item">
         <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
        </li>
      {% endif %}
  </ul>
</nav>

{% endblock %}